<h1>Enter your sequence</h1>

<form action="/results" method="post">    
  <div class="field">
    <textarea placeholder="Enter a sequence" cols="120" rows="20" name="sequence"></textarea>
  </div>
  <div class="field actions">
    <input type="submit" value="Submit" />
    <label for='filter'>
      <input type="checkbox" name="filter" value="1">
      Exclude Uncultured/environmental sample sequences
    </label>
  </div>
</form>
