<!DOCTYPE html>
<html lang="en">
<head>
  <title>BlastCat | NCBI Blast tool</title>
  <link rel="stylesheet" href="/stylesheets/normalize.css"/>
  <link rel="stylesheet" href="/stylesheets/application.css"/>
</head>
<body> 
  <h1 id="BlastCat">BlastCat</h1>
  
  <div id="main">
    <%= yield %>
  </div>
</body>
</html>
